/*styles the logo at the top of the website*/
.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    border-radius: 50%;
}
/*Organizes the head and styles it*/
#container-grid{
    display: grid;
    grid-template-columns: 400px 400px 400px;
    justify-content: space-around;
    text-align: center;
}
/*styles the hours section*/
#hours{
    border: 1px solid black;
}

/*This class makes the list items side by side*/
.sidebyside{
    width: 100%;
}
.sidebyside li{
    display: inline;
    font-size: 36px;
}
/* formats the links*/
nav{
    text-align: center;
    word-spacing: 100px;
    font-size: 20px;
}
/*Default look of the links*/
nav a{
    color: white;
    text-decoration: none;
}
/*Changes the color of each text link and underlines it (when mouse hovers over it)*/
nav a:hover{
    color:black;
    text-decoration: underline;
}
nav ul{
    list-style: none; /* removes bullet points*/
}
/* styles the all the pages with the same font and background-color */
body {
    font-family: Arial, sans-serif;
    background-color: #f7f6f2;
}
footer{
    background-color: black;
    color: white;
    border-radius: 20px;
    text-align: center;
}
