/*
Experimental Hex Codes (from lightest to darkest):
pale grey (matches logo's background) -- #f7f6f2
pale yellow -- #fbf3de
light yellow-brown -- #e6cf9b
base gold (matches logo's hexagonal border) -- #8b743e
brown -- #524119
dark brown -- #191202
*/

/*styles the logo at the top of the website*/
.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 27%;
    border-radius: 50%;
}
/*Organizes the head and styles it*/
#container-grid{
    display: grid;
    grid-template-columns: 400px auto auto;
    justify-content: stretch;
    text-align: center;
}
/*styles the hours section*/
#hours{
    border: 1px solid black;
}

/*This class makes the list items side by side*/
.sidebyside{
    text-align: center;
    word-spacing: 150px;
    font-size: 20px;
    width: 100%;
    padding: 10px;
    border-bottom: 5px solid #e6cf9b;
    list-style: none;
}
.sidebyside:hover{
    border-color: #8b743e;
}
.sidebyside li{
    display: inline-flex;
    justify-content: space-around;
    font-size: 36px;
}
.sidebyside a{
    color: #8b743e;
    text-decoration: none;
    padding: 5px 20px;
    border: 4px;
    border-radius: 10px;
}
/* might change to js event handling (mouseover) */
.sidebyside a:hover{
    color: #524119;
}
